@import 'tailwindcss';
@import 'fumadocs-ui/css/solar.css';
@import 'fumadocs-ui/css/preset.css';
@plugin 'tailwindcss-animate';

@theme {
  --spacing-page: 1436px;
}

:root {
  --fd-layout-width: 1436px;
}

html {
  scrollbar-gutter: stable;
}
